# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/

# Flask SQLite databases
*.sqlite3
*.db

# Environment variables
.env
instance/

# Static/media uploads
static/uploads/
uploads/

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db
