<!DOCTYPE html>
<html>
<head>
  <title>Test Google Button</title>
  <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>
<body>
  <div
    id="g_id_onload"
    data-client_id="289148126437-6e7dvco90707uancs5gdbbltsqvubim2.apps.googleusercontent.com"
    data-login_uri="http://localhost:5000/google-login/callback"
    data-auto_prompt="false"
  ></div>
  <div
    class="g_id_signin"
    data-type="standard"
    data-shape="rectangular"
    data-theme="outline"
    data-text="sign_in_with"
    data-size="large"
    data-logo_alignment="left"
  ></div>
</body>
</html>
